#main{
    display: inline-block;
    vertical-align: top;
}

.centerer{
    margin : 0 auto;
    width: 80%;
    text-align: center;
}

h1{
    color: graytext;
    font-family: sans-serif;
}

h2{
    font-family: cursive;
}

#searchDiv {
    visibility: hidden;
}

#errorDiv{
    color: red;
    font-family: sans-serif;
    visibility: hidden;
}

.id{
    visibility: hidden;
}

a.title{
    color: graytext;
    font-family: serif;
    font-size: large;
}

.description{
    font-family: sans-serif;
    font-size: medium;
}

#queryResult{
    margin-top: 10px;
}

.result{
    margin-bottom: 15px;
}
